<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">
    
<session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
<security-constraint>
      <display-name>Security Constraint</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
         <url-pattern>/jsp/add/*</url-pattern>
         <url-pattern>/jsp/update/*</url-pattern>
         <url-pattern>/jsp/upload/*</url-pattern>
         <url-pattern>/jsp/delete/*</url-pattern>
         <url-pattern>/jsp/user/welcome.jsp</url-pattern>
         <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
	 <http-method>PUT</http-method>
      </web-resource-collection>
      <auth-constraint>
           <role-name>sams_admin</role-name>
      </auth-constraint>
      
<user-data-constraint><transport-guarantee>NONE</transport-guarantee></user-data-constraint>
</security-constraint>
    


<login-config>
<auth-method>FORM</auth-method>
<form-login-config>
<form-login-page>/jsp/user/login.jsp</form-login-page>
<form-error-page>/jsp/user/error.jsp</form-error-page>
</form-login-config>
</login-config>
<security-role>
        <description> An administrator </description>
        <role-name>
            sams_admin
        </role-name>
    </security-role>
    
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
     
  
</web-app>

